mixin radio({id, name, checked, icon, typeInput, text})
  label.custom-control.custom-radio()&attributes(attributes)
    input.custom-control-input(
      id= id ? id : null
      type= 'radio'
      name= name ? name : null
      checked= (checked === true) ? true : false
    )
    span.custom-control-label()= text
      if icon
        i.zmdi(class= `zmdi-${icon}`)
//- mixin selectInput({label, id, type, name, checked, breackpointLabel, breackpointInput, icon})
//-   .form-group
//-     label(
//-       class= breackpointLabel ? breackpointLabel : null
//-     )= label
//-     div(class= breackpointInput ? breackpointInput :null)
//-       .form-check.form-check-inline
mixin inputRadio({id, typeRadio, typeInput})
  .input-group-text
    label.custom-control.custom-radio()&attributes(attributes)
      input.custom-control-input(
        id= id ? id : null
        type= typeRadio ? 'radio' : null
      )
    span.custom-control-label
  input.form-control(
    type= typeInput ? typeInput : null
  )
