mixin radio({id, name, checked, disabled, icon, typeInput, text, color, valid})
  label.custom-control-radio(
    class= icon ? `custom-control-radio-icon` : null
  )&attributes(attributes)
    input.custom-radio-input(
      id= id ? id : null
      type= 'radio'
      name= name ? name : null
      checked= (checked === true) ? true : false
      disabled= (disabled === true) ? true : false
      class= typeof valid !== 'undefined' ? ((valid==true) ? 'is--valid' : 'is--invalid') : null  
    )
    span.custom-control-label.custom-radio(class= (color === true) ? `custom-control-color` : null)= text
      if icon
        i.zmdi(class= `zmdi-${icon}`)
