mixin selectbox({id, label, multiple, options, breackpointLabel, breackpointInput})
  .form-group&attributes(attributes)
    label(
      class= breackpointLabel ? breackpointLabel : null
    )= label
    div(
      class= breackpointInput ? breackpointInput :null
    )
      select.form-control(
        multiple= multiple ? multiple : null
      )
        each val in options
          option(
            value= val.value
            selected= (selected === true) ? true : false
          )= val.display
mixin selectSearch({size, label, labelOpt, options, text, search, icon, placeholder})
  label.form-control-label= label
  if (search === true)
    .dropdown-select.warning
      a.select= text ? text : null 
      .search-box
        i(class= icon ? icon : null)
        input.search-control(
          type= type ? 'text' : null
          placeholder= placeholder ? placeholder : null
        )
  select.option-list.select2.select2-lg(
    class= size ? `select2-${size}` : null
  )
    option
      each val in options
        optgroup(
          label= val.labelOpt
        )
          if val.optChild
            each item in val.optChild
              option(
                value= item.value
              )= item.display