//-------------------------------------------------------
//- Modules :: Menu
//-------------------------------------------------------
mixin menu(page, link)
  ul.nav
    each val in listitem.datamenu
      if (typeof val.link === "undefined")
        li.divider= val.item
      else
        li.nav__item.parent(
          class= (val.link === page) ? "active" : null
          class= val.sub ? "has-child" : null
        )
          a.nav__link(
            href= (val.collapse === false) ? (val.link ? val.link : "javascript:void(0")  : (val.link ? `#${val.link}` : "javascript:void(0)")
            data-toggle= (val.collapse !== false) ? "collapse" : null
            aria-expanded= (val.collapse !== false) ? "false" : null
          )
            if val.icon
              i(class= val.icon ? val.icon : null)
            span.nav__text= val.item
          if val.sub
            .collapse.js-collapse01(
              id= val.link
              class= (val.link === page) ? "show" : null 
            )
              ul.sub-menu.parent
                each val1 in val.sub
                  li.nav__item.child(
                    class= val1.dropdown ? "has-child" : null
                  )
                    a.nav__link(
                      href= val1.dropdown ? `#${val1.link}` : val1.link
                      data-toggle= val1.dropdown ? "collapse" : null
                      aria-expanded= val1.dropdown ? "false" : null
                      class= (val1.link === link) ? "active" : null
                    )
                      span.nav__text= val1.item
                      if val1.badge
                        span.badge.badge-primary New
                    if val1.dropdown
                      .collapse.js-collapse02(
                        id= val1.link
                      )
                        ul.sub-menu.child
                          each val2 in val1.dropdown
                            li.nav__item.child2(
                              class= val2.dropdownChild ? "has-child" : null
                            )
                              a.nav__link(
                                href= val2.dropdownChild ? `#${val2.link}` : `${val2.link}`
                                data-toggle= val2.dropdownChild ? "collapse" : null
                                aria-expanded= val2.dropdownChild ? "false" : null
                              )
                                span.nav__text= val2.item
                              if val2.dropdownChild
                                .collapse.js-collapse03(
                                  id= val2.link
                                )
                                  ul.sub-menu.child3
                                    each val3 in val2.dropdownChild
                                      li.nav__item.child4
                                        a.nav__link(
                                          href= val3.link ? `${val3.link}` : `javascript:void(0)`
                                        )= val3.item
