//---------------------------------------------col-md-4.col-12----------
//- Styleguides :: Buttons
//-------------------------------------------------------
-
  var nomal = [
    {type: 'secondary', text: 'Secondary'},
    {type: 'primary', text: 'Primary'},
    {type: 'danger', text: 'Danger'},
    {type: 'warning', text: 'Warning'},
    {type: 'success', text: 'Success'},
  ]

h2 Basic Buttons
each val in nomal
  .row
    each item in ['xs', 'sm', 'md', 'lg', 'xl']
      .col-12.col-md-4
        .code-example
          .demo
            +buttons({
              type: val.type,
              text: val.text,
              size: item
            })
          pre
            code
              |+buttons({
              |   type: '#{val.type}',
              |   text: '#{val.text}',
              |   size: '#{item}'
              |})
-
  var listIcon = [
    {icon: 'globe', size: 'xs'},
    {icon: 'cloud', size: 'sm'},
    {icon: 'alert-circle', size: 'md'},
    {icon: 'alert-triangle', size: 'lg'},
    {icon: 'check', size: 'xl'},
  ]
h2 Buttons Icon
each val in nomal
  .row
    each item in listIcon
      .col-12.col-md-4
        .code-example
          .demo
            +buttons({
              type: val.type,
              text: val.text,
              size : item.size,
              icon: item.icon
            })
          pre
            code
              |+buttons({
              |   type: '#{val.type}',
              |   text: '#{val.text}',
              |   size : '#{item.size}',
              |   icon: '#{item.icon}'
              |})

h2 Button Rounded Nomal
each val in nomal
  .row
    each item in listIcon
      .col-12.col-md-4
        .code-example
          .demo
            +buttons({
              type: val.type,
              text: val.text,
              size : item.size,
              icon: item.icon,
              rounded: true
            })
          pre
            code
              |+buttons({
              |   type: '#{val.type}',
              |   text: '#{val.type}',
              |   size :  '#{item.size}',
              |   icon: '#{item.icon}',
              |   rounded: true
              |})
