h2 Basic Input
.row
  .col-md-6.col-12
    .code-example
      .demo
        +input-field({
          label: 'Email address',
          id: 'inputEmail',
          type: 'email',
          placeholder: 'Enter email'
        })
      pre
        code
        |+input-field({
        |   label: 'Email address',
        |   id: 'inputEmail',
        |   type: 'email',
        |   placeholder: 'Enter email'
        |})
  .col-md-6.col-12
    .code-example
      .demo
        +input-field({
          label:'Password',
          id:'inputPassword',
          type:'password',
          placeholder:'Password'
        })
      pre
        code
        |+input-field({
        |   label:'Password',
        |   id:'inputPassword',
        |   type:'password',
        |   placeholder:'Password'
        |})
  .col-md-6.col-12
    .code-example
      .demo
        +input-field({
          label:'Input Text',
          id:'inputText',
          type:'text'
        })
      pre
        code
        |+input-field({
        |  label:'Input Text',
        |  id:'inputText3',
        |  type:'text'
        |})
  .col-md-6.col-12
    .code-example
      .demo
        +input-field({
          label:'Input Password',
          id:'inputPassword',
          type:'password'
        })
      pre
        code
        |+input-field({
        |  label:'Input Password',
        |  id:'inputPassword',
        |  type:'password'
        |})
  .col-md-6.col-12
    .code-example
      .demo
        +input-field({
          label:'Placeholder Input',
          id:'inputPlaceholder',
          type:'text',
          placeholder: 'Placeholder text'
        })
      pre
        code
        |+input-field({
        |   label:'Placeholder Input',
        |   id:'inputPlaceholder',
        |   type:'text',
        |   placeholder: 'Placeholder text'
        |})
  .col-md-6.col-12
    .code-example
      .demo
        +input-field({
          label:'Disabled Input',
          id:'inputDisabled',
          type:'text',
          disabled:true,
          placeholder: 'Disabled input text'
        })
      pre
        code
        |+input-field({
        |   label:'Disabled Input',
        |   id:'inputDisabled',
        |   type:'text',
        |   disabled:true,
        |   placeholder: 'Disabled input text'
        |})
  .col-md-6.col-12
    h4 Readonly Input
    .code-example
      .demo
        +input-field({
          label: 'Readonly Input',
          id: 'inputReadonly3',
          type: 'text',
          readonly: true,
          value: 'Readonly input text'
        })
      pre
        code
        |+input-field({
        |   label: 'Readonly Input',
        |   id: 'inputReadonly3',
        |   type:'text',
        |   readonly: true,
        |   value: 'Readonly input text'
        |}) 
h2 Input upload file
.row
  each val, index in ['secondar','primary']
    .col-md-6.col-12
      .code-example
        .demo
          +input-field({
            label:'Input File',
            id:`file${index}`,
            type:'file',
            name: 'file',
            multipleCap: '{count} files selected',
            multiple: true,
            typeColor: val,
            icon: 'upload',
            text: 'Browse files...'
          })
        pre
          codes
          |+input-filed({
          |   label:'Readonly Input',
          |   id:'file',
          |   type:'file',
          |   name: 'file',
          |   multipleCap: '{count} files selected',
          |   multiple: true,
          |   typeColor: `#{val}`,
          |   icon: 'upload',
          |   text: 'Browse files...'
          |})
-
  var inputSize = [
    {
      label: 'Large',
      id: 'inputLarge',
      size: 'lg',
      value: 'Large input',
      placeholder: 'Large input'
    },
    {
      label: 'Default',
      id: 'inputDefault',
      size: 'md',
      value: 'Default input',
      placeholder: 'Default input'
    },
    {
      label: 'Small',
      id: 'inputSmall',
      size: 'sm',
      value: 'Small input',
      placeholder: 'Small input'
    },
    {
      label: 'Extra Small',
      id: 'inputExtraSmall',
      size: 'xs',
      value: 'Extra small input',
      placeholder: 'Extra small input'
    },
  ]
h2 Input Size
.row
  each val in inputSize
    .col-md-6.col-12
      .code-example
        .demo
          +input-field({
            label:val.label,
            id:val.id,
            type:'text',
            size: val.size,
            placeholder: val.placeholder
          })
        pre
          code
            |+input-field({
            |   label: `#{val.label}`,
            |   id: `#{val.id}`,
            |   type: 'text',
            |   size: `#{val.size}`,
            |   placeholder: `#{val.placeholder}`
            |})
h2 Validate States
.row
  .col-md-6.col-12
    .code-example
      h3 Success
      .demo
        +input-field({
          required: true,
          valid: true
        })
      pre
        code
          |+input-field({
          | required: true,
          | valid: true
          |})
  .col-md-6.col-12
    .code-example
      h3 Error
      .demo
        +input-field({
          required: true,
          valid: false
        })
      pre
        code
          |+input-field({
          |   required: true,
          |   valid: false
          |})
h2 Textarea
.row
  .col-12
    .code-example
      .demo
        +textArea({id: 'inputTextarea3'})
      pre
        code
        | +textArea({id: 'inputTextarea3'})
